.footer {
    background-color: #2780E3;
    color: white;
    padding: 20px;
}



/*.footer {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 2rem;*/
    /*background-color:  #2780E3;*/
    /*text-align: center;*/
    /*color: white;*/
/*}*/

small{
    position: absolute;
    margin-top: -20px;
}

p{
    font-size: 35px;
}

li{
    list-style: none;
}

a{
    color: white;
}