<h1 class="lead">Pricing</h1>
<hr>

<div class="row">
  <div class="col-md-4 table-1">

    <h2>Single</h2>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <button class="btn btn-success btn-lg">Search</button>
  </div>


  <div class="col-md-4 table-2">
    <h2>Couple</h2>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <button class="btn btn-success btn-lg">Search</button>
  </div>

  <div class="col-md-4 table-3"> <h2>Family</h2>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <hr>
    <p class="lead">The point</p>
    <button class="btn btn-success btn-lg">Search</button>
  </div>


</div>
