<div class="container">
  {{id}}

  <div class="row">
    <div class="col-md-4 table-1">

      <h2>Basic</h2>
      <hr>
      <p class="lead">Fun Events</p>
      <hr>
      <p class="lead">Best Ticket Prices</p>
      <hr>
      <p class="lead">Pick up and Food Included</p>
      <hr>
      <p class="lead">Starts from $20.49</p>
      <hr>
      <a routerLink="/booking/basic"><button class="btn btn-success btn-lg">Search</button></a>
    </div>


    <div class="col-md-4 table-2">
      <h2>Classic</h2>
      <hr>
      <p class="lead">Tender Events</p>
      <hr>
      <p class="lead">Best Ticket Prices</p>
      <hr>
      <p class="lead">Pick up and Food Included</p>
      <hr>
      <p class="lead">Starts from $40.49</p>
      <hr>
      <a routerLink="/booking/classic"><button class="btn btn-success btn-lg">Search</button></a>
    </div>

    <div class="col-md-4 table-3"> <h2>Premium</h2>
      <hr>
      <p class="lead">Family Friendly Events</p>
      <hr>
      <p class="lead">Best Ticket Prices</p>
      <hr>
      <p class="lead">Pick up and Food Included, <br></p>
      <hr>
      <p class="lead">Starts from $60.49</p>
      <hr>
      <a routerLink="/booking/premium"><button class="btn btn-success btn-lg">Search</button></a>
    </div>


  </div>

</div>