
<h1 class="lead">Meet the Team</h1>
<hr>

<div class="row team-row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img  src="../../assets/img/rr.jpg" alt="...">
        <div class="caption">
          <h3>Name</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p class="icon-centre"><a href="#" class="btn btn-primary" role="button"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> <a href="#" class="btn btn-default" role="button"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/img/rr.jpg" alt="...">
        <div class="caption">
          <h3>Name</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p class="icon-centre"><a href="#" class="btn btn-primary" role="button"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> <a href="#" class="btn btn-default" role="button"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/img/rr.jpg" alt="...">
        <div class="caption">
          <h3>Name</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p class="icon-centre"><a href="#" class="btn btn-primary" role="button"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> <a href="#" class="btn btn-default" role="button"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>

</div>
